<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('数据统计')"/>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <input type="hidden" id="cacheName">
    <div class="col-sm-12">
        <div class="row">
            <!-- 最佳销售统计 Top10 -->
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-bars"></i> 最佳销售统计 Top10</h5>
                    </div>
                    <div class="ibox-content">
                        <!-- 柱状图容器 -->
                        <div id="bestSalesChart" style="width: 100%; height: 400px;"></div>
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>索引</th>
                                <th>姓名</th>
                                <th>金额</th>
                            </tr>
                            </thead>
                            <tbody id="bestSalesList">
                            <tr th:each="map,stat: ${bestSalesList}">
                                <td>[[${stat.index+1}]]</td>
                                <td style="word-wrap:break-word;word-break:break-all;"> [[${map['user_name']}]]</td>
                                <td style="width: 50px">[[${map['total']}]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 最佳采购统计 Top10 -->
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-bars"></i> 最佳采购统计 Top10</h5>
                    </div>
                    <div class="ibox-content">
                        <!-- 柱状图容器 -->
                        <div id="bestPurchaseChart" style="width: 100%; height: 400px;"></div>
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>索引</th>
                                <th>姓名</th>
                                <th>金额</th>
                            </tr>
                            </thead>
                            <tbody id="bestPurchaseList">
                            <tr th:each="map,stat: ${bestPurchaseList}">
                                <td>[[${stat.index+1}]]</td>
                                <td style="word-wrap:break-word;word-break:break-all;"> [[${map['user_name']}]]</td>
                                <td style="width: 50px">[[${map['total']}]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 最佳销售产品 Top10 -->
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-bars"></i> 最佳销售产品 Top10</h5>
                    </div>
                    <div class="ibox-content">
                        <!-- 柱状图容器 -->
                        <div id="bestSalesCommodityChart" style="width: 100%; height: 400px;"></div>
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>索引</th>
                                <th>商品名称</th>
                                <th>数量</th>
                            </tr>
                            </thead>
                            <tbody id="bestSalesCommodityList">
                            <tr th:each="map,stat: ${bestSalesCommodityList}">
                                <td>[[${stat.index+1}]]</td>
                                <td style="word-wrap:break-word;word-break:break-all;">[[${map['commodity_name']}]]</td>
                                <td style="width: 50px">[[${map['total']}]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "monitor/cache";
    var bestSalesChart = echarts.init(document.getElementById('bestSalesChart'));
    var bestSalesTableRows = document.querySelectorAll('#bestSalesList tr');
    var bestSalesNames = [];
    var bestSalesAmounts = [];
    bestSalesTableRows.forEach(function(row) {
        var cells = row.querySelectorAll('td');
        if (cells.length >= 3) {
            bestSalesNames.push(cells[1].textContent.trim());
            var amount = parseFloat(cells[2].textContent.trim());
            bestSalesAmounts.push(amount.toFixed(2)); // 保留两位小数
        }
    });
    var bestSalesOption = {
        xAxis: {
            type: 'category',
            data: bestSalesNames
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value}元' // 假设数据是金额，这里添加单位“元”
            }
        },
        series: [{
            data: bestSalesAmounts,
            type: 'bar'
        }]
    };
    bestSalesChart.setOption(bestSalesOption);

    // 最佳采购统计 Top10 柱状图
    var bestPurchaseChart = echarts.init(document.getElementById('bestPurchaseChart'));
    var bestPurchaseTableRows = document.querySelectorAll('#bestPurchaseList tr');
    var bestPurchaseNames = [];
    var bestPurchaseAmounts = [];
    bestPurchaseTableRows.forEach(function(row) {
        var cells = row.querySelectorAll('td');
        if (cells.length >= 3) {
            bestPurchaseNames.push(cells[1].textContent.trim());
            var amount = parseFloat(cells[2].textContent.trim());
            bestPurchaseAmounts.push(amount.toFixed(2)); // 保留两位小数
        }
    });
    var bestPurchaseOption = {
        xAxis: {
            type: 'category',
            data: bestPurchaseNames
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: bestPurchaseAmounts,
            type: 'bar'
        }]
    };
    bestPurchaseChart.setOption(bestPurchaseOption);

    // 最佳销售产品 Top10 柱状图
    var bestSalesCommodityChart = echarts.init(document.getElementById('bestSalesCommodityChart'));
    var bestSalesCommodityTableRows = document.querySelectorAll('#bestSalesCommodityList tr');
    var bestSalesCommodityNames = [];
    var bestSalesCommodityAmounts = [];
    bestSalesCommodityTableRows.forEach(function(row) {
        var cells = row.querySelectorAll('td');
        // 确保提取的是商品名称列的数据
        if (cells.length >= 3) {
            bestSalesCommodityNames.push(cells[1].textContent.trim());
            bestSalesCommodityAmounts.push(parseFloat(cells[2].textContent.trim()));
        }
    });

    var bestSalesCommodityOption = {
        xAxis: {
            type: 'category',
            data: bestSalesCommodityNames
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: bestSalesCommodityAmounts,
            type: 'bar'
        }]
    };
    bestSalesCommodityChart.setOption(bestSalesCommodityOption);
    function getCacheNames() {
        $.ajax({
            type: "post",
            url: prefix + "/getNames",
            data: {
                "fragment": 'fragment-cache-names'
            },
            success: function (data) {
                $("#cacheNames").html(data);
                $.modal.msgSuccess("刷新缓存列表成功");
            }
        });
    }

    function getCacheKeys(cacheName, isMsg) {
        var _cacheName = $.common.isNotEmpty(cacheName) ? cacheName : $("#cacheName").val();
        $.ajax({
            type: "post",
            url: prefix + "/getKeys",
            data: {
                "cacheName": _cacheName,
                "fragment": 'fragment-cache-kyes'
            },
            success: function (data) {
                $("#cacheKeys").html(data);
                $("#cacheName").val(_cacheName);
                if (isMsg) {
                    $.modal.msgSuccess("刷新键名列表成功");
                }
            }
        });
    }

    function getCacheValue(cacheName, cacheKey) {
        $.ajax({
            type: "post",
            url: prefix + "/getValue",
            data: {
                "cacheName": cacheName,
                "cacheKey": cacheKey,
                "fragment": 'fragment-cache-value'
            },
            success: function (data) {
                $("#cacheValue").html(data);
            }
        });
    }

    function clearCacheName(cacheName) {
        $.post(prefix + "/clearCacheName", {cacheName: cacheName}, function (result) {
            if (result.code == web_status.SUCCESS) {
                $.modal.msgSuccess("清理缓存[" + cacheName + "]成功")
                getCacheKeys(cacheName);
            } else {
                $.modal.msgError(result.msg);
            }
        });
    }

    function clearCacheKey(cacheName, cacheKey) {
        $.post(prefix + "/clearCacheKey", {cacheName: cacheName, cacheKey: cacheKey}, function (result) {
            if (result.code == web_status.SUCCESS) {
                $.modal.msgSuccess("清理缓存[" + cacheKey + "]成功")
                getCacheKeys(cacheName);
            } else {
                $.modal.msgError(result.msg);
            }
        });
    }

    function clearAll() {
        $.get(prefix + "/clearAll", function (result) {
            if (result.code == web_status.SUCCESS) {
                $.modal.msgSuccess("清理全部缓存成功")
            } else {
                $.modal.msgError(result.msg);
            }
        });
    }
</script>
</html>
