<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('百度ECharts')"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>总订单数量</h5>
                    <h1 class="no-margins">[[${saleOrder}+${purchaseOrder}]]</h1>

                    <small>销售订单:[[${saleOrder}]]，采购订单:[[${purchaseOrder}]]</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>采购总金额</h5>
                    <h1 class="no-margins">[[${purchaseAmount}]]</h1>

                    <small>总采购</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>销售总金额</h5>
                    <h1 class="no-margins">[[${saleAmount}]]</h1>

                    <small>总收入</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>总收益</h5>
                    <h1 class="no-margins">[[${saleAmount}-${purchaseAmount}]]</h1>

                    <small>净收益</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>待审核采购订单金额</h5>
                    <h1 class="no-margins">[[${unPurchaseAmount}]]</h1>

                    <small>待审核采购订单:[[${unPurchaseTotal}]]</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>待审核销售金额</h5>
                    <h1 class="no-margins">[[${unSaleAmount}]]</h1>

                    <small>待审核销售订单:[[${unSaleTotal}]]</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>已送达采购订单</h5>
                    <h1 class="no-margins">[[${deliverTotal}]]</h1>

                    <small>采购已送达</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>未送达采购订单</h5>
                    <h1 class="no-margins">[[${undeliveredTotal}]]</h1>

                    <small>采购订单未送达</small>
                </div>
            </div>
        </div>
    </div>


</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: echarts-js"/>
<script type="text/javascript">

</script>
</body>
</html>