<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('表格传值给父页面')"/>
</head>
<body class="gray-bg">
<input type="hidden" id="rowIds">
<input id="userId" name="userId" type="hidden"/>
<input id="userName" name="userName" type="hidden"/>
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "system/user";
    var deptId = [[${deptId}]]
    var datas = [[${@dict.getType('sys_normal_disable')}]];

    $(function () {
        var options = {
            url: prefix + "/list",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            queryParams: {
                deptId: deptId
            },
            columns: [{
                radio: true
            }, {
                field: 'userId',
                title: '用户ID'
            },
                {
                    field: 'loginName',
                    title: '登录名称',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="$.operate.view(\'' + row.userId + '\')">' + value + '</a>';
                    }
                },
                {
                    field: 'userName',
                    title: '用户名称'
                },
                {
                    field: 'dept.deptName',
                    title: '部门'
                },
                {
                    field: 'phonenumber',
                    title: '手机'
                }]
        };
        $.table.init(options);
    });

    /* 添加用户-选择用户-提交(子页面调用父页面形式) */
    function submitHandler(index, layero) {
        var rows = $.table.selectFirstColumns();
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.close();
        // 父页面的方法
        // activeWindow().selectUsers();
        // 父页面的变量
        activeWindow().$('#userids').html('我是通过方式一来的：' + rows.join());
    }

    /* 添加用户-选择用户-提交(回调形式-父页面调用子页面) */
    function getSelections() {
        return $.table.selectFirstColumns();
    }

    $("#bootstrap-table").on("check.bs.table check-all.bs.table uncheck.bs.table uncheck-all.bs.table", function (e, rowsAfter, rowsBefore) {
        var rows = $.common.equals("uncheck-all", e.type) ? rowsBefore : rowsAfter;
        var userId = $.table.selectFirstColumns();
        var userName = $.table.selectColumns("userName");
        $("#userId").val(userId);
        $("#userName").val(userName);
    });
</script>
</body>
</html>